---
import BaseLayout from "../../layouts/Layout.astro";
import {getCollection, render} from "astro:content";

export const prerender = true;

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: {slug: post.id},
        props: {post},
    }));
}

const {post} = Astro.props;
const {Content} = await render(post);
---

<BaseLayout title={`${post.data.title}`}>
    <article>
        <h1>{post.data.title}</h1>
        <p>{post.data.description}</p>
        <small>{post.data.date.toDateString()}</small>

        <Content/>
    </article>
</BaseLayout>

<style>
    :global(a:link),
    :global(a:visited),
    :global(a:active) {
        text-decoration: none;
        color: #2563eb;
    }

    :global(a:hover) {
        text-decoration: underline;
    }

    :global(img) {
        max-width: 100%;
        height: auto;
    }
</style>