---
import BaseLayout from "../layouts/Layout.astro";


import {getCollection} from "astro:content";

const posts = await getCollection("blog");

posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout title="一个网站">
    <h2 class="title">Good night</h2>
    <p class="subtitle">良い夢が見られますように</p>

    <p>一个比起blog，更像是我碎碎念和分享点自己写的和喜欢的东西的地方</p>
    <p><a href="https://github.com/EatKFCinMc/IdleScreen" target="_blank">idleScreen</a>，适用于熄屏功能失效的windows系统的替代熄屏软件，oled屏效果最佳</p>
    <p><a href="/blog/001-ump/" target="_blank">ump</a>，TUI风格的音乐播放器，受kew启发，目前仍在想起来就会写的过程中</p>
    <p>塞满了奇妙大锅炖的<a href="https://music.163.com/playlist?id=424571914" target="_blank">歌单</a></p>
    <p>建站后第一次更新主页！</p>
    <p>（空格）</p>

    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}/`}>
                        <strong>{post.data.title}</strong>
                    </a>
                    <br/>
                    <small>{post.data.date.toDateString()}</small>
                    <p>{post.data.description}</p>
                </li>
            ))
        }
    </ul>

</BaseLayout>

<style>

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
        color: #2563eb;
    }

    a:hover {
        text-decoration: underline;
    }

    h2.title {
        padding: 30px 0 0 0;
        line-height: 0;
        font-size: 40px;
    }

    p.subtitle {
        line-height: 50%;
        font-style: italic;
        padding: 0 0 2rem 0;
    }

</style>